.node_modules
node_modules
.env
env
dist
.dist
.logs
logs
logs/
*.log
all-logs.log
all-logs.logs
.all-logs.logs
/logs/all-logs.log
/logs/all-logs.logs

vision-forge.md
Vision forge.pdf
/Vision forge.pdf
/src/scripts/migrate-author-to-objectid.ts